<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'default_styles.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=0.75">
</head>
<body>
<header>
    <nav class="Navbar">
        <a href="https://www.shu.ac.uk/">
           	<img id="imgLogo" class="SHULogo" class="img-fluid" src="/static/logo-shu-white.svg">
        </a>
        <a class="Navlink" href="{% url 'homepage' %}">Home</a>
        <a class="Navlink" href="{% url 'user_profile' %}">Profile</a>
        {% if request.user.user_type == 'Admin' %}
            <a class="Navlink" href="{% url 'access_data_browser' %}">Data Browser</a>
            <a class="Navlink" href="admin/">Admin</a>
        {% elif request.user.user_type == 'Student' %}
            <a class="Navlink" href="{% url 'make_submission' %}">Make Submission</a>
            <a class="Navlink" href="{% url 'access_student_submission' %}">View Submissions</a>
        {% elif request.user.user_type == 'LineManager' %}
			<a class="Navlink" href="{% url 'access_manager_approval' %}">View Submissions</a>
        {% elif request.user.user_type == 'Recruiter' %}
			<a class="Navlink" href="{% url 'access_recruiter_submission' %}">View Submissions</a>
        {% endif %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="Navlink OverrideButton" style="border: none" type="submit">Logout</button>
        </form>
    </nav>
</header>

<main>
{% block content %}
{% endblock %}
</main>
<div class="Separator"></div>
<footer>
	<span>© Copyright 2025 Sheffield Hallam University</span>
</footer>
</body>
</html>
