<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'defaultStyles.css' %}" />

</head>
<body>
<header>
    <nav>
        <div class="Navbar">
            <a class="Navlink" href="{% url 'homepage' %}">Home</a>
            <a class="Navlink" href="{% url 'profile' %}">Profile</a>
            {% if request.user.is_superuser == 1 %}
                <a class="Navlink" href="{% url 'access_db_admin' %}">Admin (new)</a>
                <a class="Navlink" href="{% url 'adminSHU' %}">Admin</a>
            {% else %}
                <a class="Navlink" href="{% url 'student' %}">Student</a>
            {% endif %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="Navlink OverrideButton" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>