{% extends "_base.html" %}
{% load static %}
{% block title %}
 Submit Working Hours
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'registration_styles.css' %}" />
<div class="Box width100" id="SubmissionTable">
  <div id="submission-form" class="Column2">
	  <select style="margin: 10px" type="text" name="sub__job" placeholder="Job"></select><br>
	  <select style="margin: 10px" type="text" name="sub__manager" placeholder="Manager"></select><br>
	  <input style="margin: 10px" type="text" name="sub__hours" placeholder="Hours"><br>
	  <input style="margin: 10px" type="text" name="sub__worked" placeholder="Date Worked"><br>
	  <input style="margin: 10px" type="text" name="sub__submitted" placeholder="Date Submitted"><br>
	  <button onclick="processSubmissionForm('create', 'submission-form')">Submit Timesheet</button>
  </div>
</div>
<script src="{% static 'table.js' %}"></script>
<script>
    async function processSubmissionForm(action, element_id) {
	    const formElement = document.getElementById(element_id);
	    let data = {
	    	_action: action,
	    	user: {
	    		student: {{ request.user.id }} ,
	    		job: formElement.querySelector("input[name=sub__job]").value,
	    		line_manager: formElement.querySelector("input[name=sub__manager]").value,
		    	hours: formElement.querySelector("input[name=sub__hours]").value,
		    	date_worked: formElement.querySelector("input[name=sub__worked]").value,
		    	date_submitted: formElement.querySelector("input[name=sub__submitted]").value
	    	},
	    };
	    let response = await postJSON("{% url 'submissionList' %}", data);
	    console.log(response);
</script>
{% endblock %}