{% extends "_base.html" %}
{% load static %}
{% block title %}
 Submit Working Hours
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'registration_styles.css' %}" />
<div class="Box" id="SubmissionTable">
  <div id="submission-form" class="EditGrid">
	  <label for="hours">Job:</label>
	  <select id="job-select" name="sub__job">
		  <option value="">Select a job</option>
		  {% for job in Jobs %}
		  	<option value="{{ job.id }}">{{ job.job_name }}</option>
		  {% endfor %}
	  </select>
	  <label for="hours">Line manager:</label>
	  <select id="linemanager-select" name="sub__manager" disabled>
	  </select>
	  <label for="hours">Hours:</label>
	  <input id="hours" type="number" min="0" max="15" name="sub__hours" onkeyup="enforceMinMax(this)">
	  <label for="date-worked">Date worked:</label>
	  <input id="date-worked" type="date"  name="sub__worked">
	  <!-- This is done automatically now -->
	  <!--<label for="date-submitted">Date submitted:</label>
	  <input id="date-submitted" type="date"  name="sub__submitted">-->
  </div>
	  <button id="submit-timesheet" onclick="processSubmissionForm('create', 'submission-form')" disabled>Submit Timesheet</button>
</div>
<script src="{% static 'form_errors.js' %}"></script>
<script>
	"use strict";
	const reverse_accessor = {
		job: "Job",
		line_manager: "Line manager",
		hours: "Hours",
		date_worked: "Date worked"
	}
	const parameters = {
		"Job": document.getElementById("job-select"),
		"Line manager": document.getElementById("linemanager-select"),
		"Hours": document.getElementById("hours"),
		"Date worked": document.getElementById("date-worked")
	}
	const form_element = document.getElementById("edit-user-form");
	const submit_button = document.getElementById("submit-timesheet");

	parameters["Job"].onchange = async (e) => {
		parameters["Line manager"].disabled = true;
		while (parameters["Line manager"].children.length > 0) {
			parameters["Line manager"].removeChild(parameters["Line manager"].lastChild);
		}
		if (parameters["Job"].value !== "") {
			submit_button.disabled = false;
			let url = "{% url 'getLineManagersFromJob' pk=0 %}".replace('0', parameters["Job"].value);
			const response = await fetch(url);
			response.json().then(response_obj => {
				console.log(response_obj);
				for (let linemanager of response_obj) {
					let line_option_element = document.createElement("option");
					line_option_element.value = linemanager.id;
					line_option_element.textContent = `${linemanager.id} | ${linemanager.user.username} | ${linemanager.user.first_name} ${linemanager.user.last_name}`;
					parameters["Line manager"].appendChild(line_option_element);
				}
			});
			parameters["Line manager"].disabled = false;
		}
		else {
			submit_button.disabled = true;
		}
	};

    async function processSubmissionForm(action, element_id) {
	    const formElement = document.getElementById(element_id);
	    let data = {
	    	_action: action,
	    	student: {{ StudentID }},
	    	job: parameters["Job"].value,
	    	line_manager: parameters["Line manager"].value,
		    hours: parameters["Hours"].value,
		    date_worked: parameters["Date worked"].value,
		    // date_submitted: formElement.querySelector("input[name=sub__submitted]").value,
		    accepted: false
	    };
	    let response = await postJSON("{% url 'submissionListStudent' %}", data);
	    console.log(response);
		if (response.status === 400) { // The form was probably invalid.
			let out = [];
			let response_json = await response.json();
			getErrors(response_json, out, reverse_accessor);
			console.log(out);
			showErrors(out, parameters);
		}
		else if (response.status === 403) {
			let response_json = await response.json();
			alert(`403 Forbidden\n${response_json.message}`);
		}
		else if (response.status === 200 || response.status === 201) {
			// alert(`ok: ${response.ok}\nstatus: ${response.status}\nstatusText: ${response.statusText}`);
			alert("Successfully made submission.");
		}
		else {
			alert(`Something weird happened.\nstatus: ${response.status}\nstatusText: ${response.statusText}`);
		}
	}

	function enforceMinMax(hours) {
	  if (hours.value != "") {
		if (parseInt(hours.value) < parseInt(hours.min)) {
		  el.value = el.min;
		}
		if (parseInt(hours.value) > parseInt(hours.max)) {
		  hours.value = hours.max;
		}
	  }
	}

	async function postJSON(url, data) {
		const fetch_response = await fetch(url, {
			method: "POST",
			body: JSON.stringify(data),
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			},
		});
		return fetch_response;
	}
</script>
{% endblock %}
