{% extends "_base.html" %}
{% block title %}
 View Profile
{% endblock %}
{% block content %}
<div class = "Row">
    <div class = "Col left">
        <div class = "SideBox">
                Logged in as {{ request.user.username}}
            <button type="submit">Logout</button>
            <!-- CRUD GOES HERE FOR UPDATING AND DELETING PROFILES -->

            <p>Profile Settings:</p>
        </div>
    </div>
    <!-- Table Layout: Student table -->
    <div class = "Col right">
        <h2>Your profile:</h2>
        <p>
            Username: {{ request.user.username }}<br>
            Name: {{ request.user.first_name }} {{ request.user.last_name }}<br>
            On visa: {{ request.user.on_visa }}
        </p>
    </div>
</div>

{% endblock %}