{% extends "_base.html" %}
{% load static %}
{% block title %}
 View Tables
{% endblock %}

{% block content %}

    <button onclick="showTable('students-table-container', 'add-student-form')">Students</button>
    <button onclick="showTable('submissions-table-container', 'add-sub-form')">Submissions</button>
    <button onclick="showTable('jobs-table-container', 'job-form')">Jobs</button>
    <button onclick="showTable('linemanagers-table-container', 'add-man-form')">Line Managers</button>
	<main class="DBView">
	<div style="height: 800px" class="Column1" id="AccessDBAdminTables"> <!-- contains our four tables -->
		<div id="students-table-container"></div>
    	<div id="submissions-table-container" style="display:none"></div>
    	<div id="jobs-table-container" style="display:none"></div>
    	<div id="linemanagers-table-container" style="display: none"></div>
	</div>
	<div id="add-student-form" class="Column2">
		<input type="text" name="user__username" placeholder="Username"><br>
		<input type="text" name="user__first_name" placeholder="First name"><br>
		<input type="text" name="user__last_name" placeholder="Last name"><br>
		<input type="text" name="user__email" placeholder="Email address"><br>
		<input type="text" name="user__password" placeholder="Password"><br>
		<label for="student_on_visa">On visa?</label>
		<input type="checkbox" name="on_visa" id="student_on_visa"><br>
		<button onclick="processStudentForm('create', 'add-student-form')">Add student</button>
	</div>
	<div id="job-form" class="Column2" style="display: none">
		<label for="job_id">Job ID: </label>
		<input type="number" id="job_id" name="id"><br>
		<div id="job-form-status-indicator">No job selected.</div>
		<input type="text" name="job_name" placeholder="Job name" style="display: none"><br>
		<input type="text" name="cost_code" placeholder="Cost code" style="display: none"><br>
		<input type="text" name="pay_rate" placeholder="Pay rate" style="display: none"><br>
		<div id="job_student-container" style="display: none"></div><br>
		<button onclick="jobAddStudent()" id="job-add-student" disabled>Add student</button>
		<button onclick="jobSubmitStudents()" id="job-submit-students" disabled>Submit</button>
		<button onclick="processJobForm('create', 'job-form')">Create job</button>
		<button onclick="processJobForm('update', 'job-form')">Update job</button>
	</div>
	<div id="add-sub-form" class="Column2" style="display: none">
		<p>sub</p>
	</div>
	<div id="add-man-form" class="Column2" style="display: none">
		<p>man</p>
	</div>
	</main>

    <script src="{% static 'table.js' %}"></script>
    <script>
	"use strict";
	async function processStudentForm(action, element_id) {
		const formElement = document.getElementById(element_id);
		let data = {
			_action: action,
			user: {
				username: formElement.querySelector("input[name=user__username]").value,
				first_name: formElement.querySelector("input[name=user__first_name]").value,
				last_name: formElement.querySelector("input[name=user__last_name]").value,
				email: formElement.querySelector("input[name=user__email]").value,
				password: formElement.querySelector("input[name=user__password]").value
			},
			on_visa: formElement.querySelector("input[name=on_visa]").checked
		};
		let response = await postJSON("{% url 'studentList' %}", data);
		console.log(response);
	}

    const swappable_table_containers = [
        document.getElementById("students-table-container"),
        document.getElementById("submissions-table-container"),
        document.getElementById("jobs-table-container"),
        document.getElementById("linemanagers-table-container"),
        document.getElementById("add-student-form"),
        document.getElementById("add-sub-form"),
        document.getElementById("job-form"),
        document.getElementById("add-man-form")
    ];
    function showTable(container_id, form_id) {
        for (let table_container of swappable_table_containers) {
            if (container_id === table_container.id) {
                table_container.style["display"] = "flex";
            }
            else if (form_id === table_container.id){
            	table_container.style["display"] = "block";
            }
            else {
                table_container.style["display"] = "none";
            }
        }
    }

	const job_form_container = document.getElementById("job-form");
	const job_form_status_indicator = document.getElementById("job-form-status-indicator");
	const job_add_student_button = document.getElementById("job-add-student");
	const job_submit_students_button = document.getElementById("job-submit-students");
	const job_form = {
		id: job_form_container.querySelector("input[name=id]"),
		job_name: job_form_container.querySelector("input[name=job_name]"),
		cost_code: job_form_container.querySelector("input[name=cost_code]"),
		pay_rate: job_form_container.querySelector("input[name=pay_rate]"),
		student_container: document.getElementById("job_student-container")
	}
	function jobAddStudent() {
		let temp_student_element = document.createElement("div");
		let student_id_input = document.createElement("input");
		student_id_input.type = "number";
		student_id_input.min = 0;
		let student_delete_button = document.createElement("delete");
		student_delete_button.textContent = "Delete";
		student_delete_button.onclick = () => {
			job_form.student_container.removeChild(temp_student_element);
		}
		temp_student_element.appendChild(student_id_input);
		temp_student_element.appendChild(student_delete_button);
		// temp_student_element.textContent = student.user.username;
		job_form.student_container.appendChild(temp_student_element);
	}
	async function processJobForm(action) {
		let to_submit = {
			_id: job_form.id.value,
			_action: action,
			job_name: job_form.job_name.value,
			cost_code: job_form.cost_code.value,
			pay_rate: job_form.pay_rate.value,
			student: []
		}
		for (let student_entry of job_form.student_container.children) {
			to_submit.student.push(student_entry.children[0].value);
		}
		console.log(to_submit);
		// let url = "{% url 'jobDetail' pk=0 %}".replace('0', job_id);
		let url = "{% url 'jobList' %}";
		let response = await postJSON(url, to_submit);
		console.log(response);
	}

	function setFormDisplay(set, display) {
		for (let key of Object.keys(set)) {
			set[key].style["display"] = display;
		}
	}

	async function getJobDetails(job_id) {
		let name = "{% url 'jobDetail' pk=0 %}".replace('0', job_id);
		setFormDisplay(job_form, "none");
		job_form_status_indicator.textContent = "Loading job...";
		let response = await fetch(name);
		await response.json().then(response_obj => {
			console.log(response_obj);
			job_form_status_indicator.textContent = "";
			job_add_student_button.disabled = false;
			job_submit_students_button.disabled = false;
			setFormDisplay(job_form, "inline");
			job_form.id.value = response_obj.id;
			job_form.job_name.value = response_obj.job_name;
			job_form.cost_code.value = response_obj.cost_code;
			job_form.pay_rate.value = response_obj.pay_rate;
			while (job_form.student_container.lastChild) {
				job_form.student_container.removeChild(job_form.student_container.lastChild);
			}
			for (let student of response_obj.student) {
				let temp_student_element = document.createElement("div");
				let student_id_input = document.createElement("input");
				student_id_input.type = "number";
				student_id_input.value = student.id;
				student_id_input.min = 0;
				let student_delete_button = document.createElement("delete");
				student_delete_button.textContent = "Delete";
				student_delete_button.onclick = () => {
					job_form.student_container.removeChild(temp_student_element);
				}
				temp_student_element.appendChild(student_id_input);
				temp_student_element.appendChild(student_delete_button);
				// temp_student_element.textContent = student.user.username;
				job_form.student_container.appendChild(temp_student_element);
			}
		});
		console.log(job_id);
	}

    let entries_per_page = 50;

    const students_table = new AdvancedSearchTable("students-table-container", {
        json_url: "{% url 'studentList' %}"
        ,columns: {
            "Username": {name: "username", type: "string", "parent_object": ["user"]}
            ,"First Name": {name: "first_name", type: "string", "parent_object": ["user"]}
            ,"Last Name": {name: "last_name", type: "string", "parent_object": ["user"]}
            ,"On Visa?": {name: "on_visa", type: "boolean"}
			// ,"ID": {name: "id", type: "number", parent_object: ["user"]}
        }
		,editable: true
    })
	const submissions_table = new AdvancedSearchTable("submissions-table-container", {
		json_url: "{% url 'submissionList' %}"
		,columns: {
			// "student id": {name: "id", type: "number", "parent_object": ["student"]},
			// "job id": {name: "id", type: "number", "parent_object": ["job"]},
			// "line manager id": {name: "id", type: "number", "parent_object": ["line_manager"]},
			// ,"Student": {name: "username", type: "string", "parent_object": ["student", "user"]}
			// ,"Job": {name: "job_name", type: "string", parent_object: ["job"]}
			// ,"Line Manager": {name: "username", type: "string", "parent_object": ["line_manager", "user"]}
			"student id": {name: "student", type: "number"},
			"job id": {name: "job", type: "number"},
			"line manager id": {name: "line_manager", type: "number"},
			"Hours": {name: "hours", type: "number"},
			"Date worked": {name: "date_worked", type: "date"},
			"Date submitted": {name: "date_submitted", type: "date"},
			"Accepted": {name: "accepted", type: "boolean"}
        }
        ,editable: true
	});
	const jobs_table = new AdvancedSearchTable("jobs-table-container", {
		json_url: "{% url 'jobList' %}"
		,columns: {
			"ID": {name: "id", type: "number", editable: false},
			"Job Name": {name: "job_name", type: "string"},
			"Cost Code": {name: "cost_code", type: "string"},
			"Pay Rate": {name: "pay_rate", type: "number"},
			"Students": {name: "student", type: "array"}
		}
		,editable: true
		,row_click_event: (id) => { getJobDetails(id); }
	});
    const linemanagers_table = new AdvancedSearchTable("linemanagers-table-container", {
        json_url: "{% url 'lineManagerList' %}"
        ,columns: {
			"ID": {name: "id", type: "number", editable: false},
            "Username": {name: "username", type: "string", "parent_object": ["user"]},
            "First Name": {name: "first_name", type: "string", "parent_object": ["user"]},
            "Last Name": {name: "last_name", type: "string", "parent_object": ["user"]},
            "Students": {name: "student", type: "array"}
        }
		,editable: true
    })
			
	async function postJSON(url, data) {
		const fetch_response = fetch(url, {
			method: "POST",
			body: JSON.stringify(data),
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});
		return fetch_response;
	}

    </script>
{% endblock %}

