{% extends "_base.html" %}
{% load static %}
{% block title %}
 View Tables
{% endblock %}

{% block content %}

	<div class="DBView">
		<div id="submissions-table-container" class="Column1"></div>
		<div id="submissions-sidebar" class="Column2">
			<h3>Weekly Work Hours</h3>
			<p><strong>{{ student.hours_worked }} / 15 hours worked</strong></p>
			<progress class="progress-bar" value="{{ student.hours_worked }}" max="15"></progress>
			<p>Visa status: <b>{% if student.on_visa %} On a visa {% else %} Not on a visa {% endif %}</b></p>
			<p>Students on a visa may not work more than 15 hours per week.</p>
		</div>
	</div>

    <script src="{% static 'table.js' %}"></script>
    <script>
	"use strict";
    let entries_per_page = 50;

	const submissions_table = new AdvancedSearchTable("submissions-table-container", {
		json_url: "{% url 'submissionListStudent' %}"
		,columns: {
			"Job": {name: "job_name", type: "string", parent_object: ["job"]},
			"Line Manager": {name: "username", type: "string", "parent_object": ["line_manager", "user"]},
			// "job id": {name: "job", type: "number"},
			// "line manager id": {name: "line_manager", type: "number"},
			"Hours": {name: "hours", type: "number"},
			"Date worked": {name: "date_worked", type: "date"},
			"Date submitted": {name: "date_submitted", type: "date"},
			"Accepted": {name: "accepted", type: "boolean", editable: false}
        }
        // ,editable: true
	});

    </script>
{% endblock %}
