{% extends "_base.html" %}
{% block title %}
 View bullshittery
{% endblock %}
{% block content %}
<body>
<!-- Table Layout: Submissions -->
<div class = "TableBox">
    <table id="Submissions">
        <tr>
            <th>Submission ID:</th>
            <th>Hours:</th>
            <th>Student Number:</th>
            <th>Job ID:</th>
            <th>Line Manager ID:</th>
            <th>Date Worked</th>
            <th>Date Submitted</th>
        </tr>
        {% for item in Submissions %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.student_id }}</td>
            <td>{{ item.hours }}</td>
            <td>{{ item.job_id }}</td>
            <td>{{ item.line_manager_id }}</td>
            <td>{{ item.date_worked }}</td>
            <td>{{ item.date_submitted }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
{% endblock %}