{% extends "_base.html" %}
{% block title %}
 View Tables
{% endblock %}

{% block content %}
<body>


<script>
    function SelectStudent()
    {
        document.getElementById("Students").style["display"] = "block"
        document.getElementById("Jobs").style["display"] = "none"
        document.getElementById("LineManagers").style["display"] = "none"
        document.getElementById("Submissions").style["display"] = "none"
        document.getElementById("AddStu").style["display"] = "block"
        document.getElementById("UpdStu").style["display"] = "block"
        document.getElementById("DelStu").style["display"] = "block"
        document.getElementById("AddStudent").style["display"] = "none"
    }

    function SelectJob()
    {
        document.getElementById("Jobs").style["display"] = "block"
        document.getElementById("Students").style["display"] = "none"
        document.getElementById("LineManagers").style["display"] = "none"
        document.getElementById("Submissions").style["display"] = "none"
        document.getElementById("AddStu").style["display"] = "none"
        document.getElementById("UpdStu").style["display"] = "none"
        document.getElementById("DelStu").style["display"] = "none"
        document.getElementById("AddStudent").style["display"] = "none"
    }

    function SelectLM()
    {
        document.getElementById("LineManagers").style["display"] = "block"
        document.getElementById("Students").style["display"] = "none"
        document.getElementById("Jobs").style["display"] = "none"
        document.getElementById("Submissions").style["display"] = "none"
        document.getElementById("AddStu").style["display"] = "none"
        document.getElementById("UpdStu").style["display"] = "none"
        document.getElementById("DelStu").style["display"] = "none"
        document.getElementById("AddStudent").style["display"] = "none"
    }

    function SelectSub()
    {
        document.getElementById("Submissions").style["display"] = "block"
        document.getElementById("Students").style["display"] = "none"
        document.getElementById("LineManagers").style["display"] = "none"
        document.getElementById("Jobs").style["display"] = "none"
        document.getElementById("AddStu").style["display"] = "none"
        document.getElementById("UpdStu").style["display"] = "none"
        document.getElementById("DelStu").style["display"] = "none"
        document.getElementById("AddStudent").style["display"] = "none"
    }

    function ShowCRUDBox(clicked_id)
    {
        if (document.getElementById("AddStudent").style["display"] == "none")
        {
            document.getElementById("AddStudent").style["display"] = "flex"
            if (clicked_id == "AddStu")
            {
                document.getElementById("Add").style["display"] = "block"
                document.getElementById("Upd").style["display"] = "none"
                document.getElementById("Del").style["display"] = "none"
            }
            if (clicked_id == "UpdStu")
            {
                document.getElementById("Add").style["display"] = "none"
                document.getElementById("Upd").style["display"] = "block"
                document.getElementById("Del").style["display"] = "none"
            }
            if (clicked_id == "DelStu")
            {
                document.getElementById("Add").style["display"] = "none"
                document.getElementById("Upd").style["display"] = "none"
                document.getElementById("Del").style["display"] = "block"
            }
        }
        else
        {
            document.getElementById("AddStudent").style["display"] = "none"
            document.getElementById("Add").style["display"] = "none"
            document.getElementById("Upd").style["display"] = "none"
            document.getElementById("Del").style["display"] = "none"
        }
    }

</script>


<!-- Table Layout: Job -->
<div class = "Row">
    <div class = "Col left">
        <div class = "SideBox">
            <p>Select a table to oversee:</p>
            <form id = TableSelect>
                <input type="radio" id="StudentClicker" name="Selector" value="Students" onclick="SelectStudent()">
                <label for="StudentClicker">View Student Timesheet</label><br>
                <input type="radio" id="JobClicker" name="Selector" value="Jobs" onclick="SelectJob()">
                <label for="JobClicker">View Stored Jobs</label><br>
                <input type="radio" id="LineManagerClicker" name="Selector" value="LineManagers" onclick="SelectLM()">
                <label for="LineManagerClicker">View Line Managers</label><br>
                <input type="radio" id="SubmissionClicker" name="Selector" value="Submissions" onclick="SelectSub()">
                <label for="SubmissionClicker">View Submissions</label><br>
            </form>
            <button id="AddStu" style="display: none" onclick="ShowCRUDBox(this.id)">Add student</button>
            <button id="UpdStu" style="display: none" onclick="ShowCRUDBox(this.id)">Update student</button>
            <button id="DelStu" style="display: none" onclick="ShowCRUDBox(this.id)">Delete student</button>
        </div>
    </div>
    <div class = "Col right">
        <div class = "TableBox">
            <table id="Jobs" style="display: none">
                <tr>
                    <th>Job ID:</th>
                    <th>Job Name:</th>
                    <th>Cost Code:</th>
                    <th>Pay Rate:</th>
                </tr>
                {% for item in Jobs %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.job_name }}</td>
                    <td>{{ item.cost_code }}</td>
                    <td>{{ item.pay_rate }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Table Layout: Student -->
        <div class = "TableBox">
            <table id="Students" style="display: none">
                <tr>
                    <th>Student ID:</th>
                    <th>Username:</th>
                    <th>First name:</th>
                    <th>Last name:</th>
                    <th>On visa?</th>
                </tr>
                {% for item in Students %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.on_visa }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Table Layout: Line Manager -->
        <div class = "TableBox">
            <table id="LineManagers" style="display: none">
                <tr>
                    <th>Line Manager ID:</th>
                    <th>Email:</th>
                    <th>Name:</th>
                    <th>Username:</th>
                {% for item in LineManagers %}
                </tr>
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.username }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Table Layout: Submissions -->
        <div class = "TableBox">
            <table id="Submissions" style="display: none">
                <tr>
                    <th>Submission ID:</th>
                    <th>Hours:</th>
                    <th>Student Name:</th>
                    <th>Job:</th>
                    <th>Line Manager:</th>
                    <th>Date Worked</th>
                    <th>Date Submitted</th>
                </tr>
                {% for item in Submissions %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.hours }}</td>
                    <td>{{ item.student.first_name }} {{ item.student.last_name }}</td>
                    <td>{{ item.job.job_name }}</td>
                    <td>{{ item.line_manager.name }}</td>
                    <td>{{ item.date_worked }}</td>
                    <td>{{ item.date_submitted }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div id="AddStudent" style="display: none" class="CRUDBox">
    <div class="Grow"></div>
    <div class="Bottom">
        <form id="Add" method="post" style="display: none">
            {% csrf_token %}
            <button type="submit">Add Student</button>
        </form>
        <form id="Upd" method="post" style="display: none">
            {% csrf_token %}
            <button type="submit">Update Student</button>
        </form>
        <form id="Del" method="post" style="display: none">
            {% csrf_token %}
            <button type="submit">Delete Student</button>
        </form>
    </div>
</div>
</body>
{% endblock %}

