{% extends "_base.html" %}
{% load static %}
{% block title %}
 View Tables
{% endblock %}

{% block content %}

    <button onclick="showTable('students-table-container', 'student-form-container')">Students</button>
    <button onclick="showTable('submissions-table-container', 'submission-form-container')">Submissions</button>
    <button onclick="showTable('jobs-table-container', 'job-form-container')">Jobs</button>
    <button onclick="showTable('linemanagers-table-container', 'linemanager-form-container')">Line Managers</button>
	<button onclick="showTable('recruiter-table-container', 'recruiter-form-container')">Recruiters</button>
	<div class="DBView">
		<div class="Column1" id="AccessDBAdminTables"> <!-- contains our four tables -->
			<div id="students-table-container"></div>
    		<div id="submissions-table-container" style="display:none"></div>
    		<div id="jobs-table-container" style="display:none"></div>
    		<div id="linemanagers-table-container" style="display: none"></div>
			<div id="recruiter-table-container" style="display: none"></div>
		</div>
		<div id="student-form-container" class="Column2"></div>
		<div id="job-form-container" class="Column2" style="display: none"></div>
		<div id="submission-form-container" class="Column2" style="display: none"></div>
		<div id="linemanager-form-container" class="Column2" style="display: none"></div>
		<div id="recruiter-form-container" class="Column2" style="display: none"></div>
	</div>

	<!-- How tragic... -->
	<!--<input class="FileInput" type="file" id="fileInput" accept=".csv" />-->
	<!--<script src="{% static 'CSVReader.js' %}"></script>-->
    <script src="{% static 'table.js' %}"></script>
	<script src="{% static 'form.js' %}"></script>
    <script>
	"use strict";

	// For changing visible table and sidebar using the buttons
    const swappable_table_containers = [
        document.getElementById("students-table-container"),
        document.getElementById("submissions-table-container"),
        document.getElementById("jobs-table-container"),
        document.getElementById("linemanagers-table-container"),
		document.getElementById("recruiter-table-container"),
        document.getElementById("student-form-container"),
        document.getElementById("submission-form-container"),
        document.getElementById("job-form-container"),
        document.getElementById("linemanager-form-container"),
        document.getElementById("recruiter-form-container")
    ];
    function showTable(container_id, form_id) {
        for (let table_container of swappable_table_containers) {
            if (container_id === table_container.id) {
                table_container.style["display"] = "flex";
            }
            else if (form_id === table_container.id){
            	table_container.style["display"] = "block";
            }
            else {
                table_container.style["display"] = "none";
            }
        }
    }

	// Student
	const student_parameters = {
       "ID": {name: "id", type: "number", editable: false}
       ,"Username": {name: "username", type: "string", "parent_object": ["user"]}
       ,"First name": {name: "first_name", type: "string", "parent_object": ["user"]}
       ,"Last name": {name: "last_name", type: "string", "parent_object": ["user"]}
       ,"Email": {name: "email", type: "string", "parent_object": ["user"]}
       // ,"Password": {name: "password", type: "string", "parent_object": ["user"]}
       ,"On Visa?": {name: "on_visa", type: "boolean"}
       ,"Elibible to work?": {name: "eligible_to_work", type: "boolean"}
       ,"Hours worked": {name: "hours_worked", type:"number", default: 0}
    };
    const students_table = new AdvancedSearchTable("students-table-container", {
        json_url: "{% url 'studentList' %}"
        ,columns: student_parameters
		,editable: true
		,row_click_event: (id) => { student_form.selectEntry(id); }
    })
	const student_form = new Form("student-form-container", {
		parameters: {
			...student_parameters,
			"Password": {name: "password", type: "password", "parent_object": ["user"], blank: true}
		},
		name: "student",
		fetch_url: "{% url 'studentDetail' pk=0 %}",
		post_url: "{% url 'studentList' %}",
		create_update_event: () => { students_table.refresh() }
	});
	// Submission
	const submission_parameters = {
		"Student ID": {name: "student", type: "number"},
		"Job ID": {name: "job", type: "number"},
		"Line manager ID": {name: "line_manager", type: "number"},
		"Hours": {name: "hours", type: "number"},
		"Date worked": {name: "date_worked", type: "date"},
		"Date submitted": {name: "date_submitted", type: "date"},
		"Reviewed": {name: "reviewed", type: "boolean"},
		"Accepted": {name: "accepted", type: "boolean"},
		"Archived": {name: "archived", type: "boolean"}
    };
	const submissions_table = new AdvancedSearchTable("submissions-table-container", {
		json_url: "{% url 'submissionList' %}"
		,columns: submission_parameters
        ,editable: true
		,row_click_event: (id) => { submission_form.selectEntry(id); }
	});
	const submission_form = new Form("submission-form-container", {
		parameters: submission_parameters,
		name: "submission",
		fetch_url: "{% url 'submissionDetail' pk=0 %}",
		post_url: "{% url 'submissionList' %}",
		create_update_event: () => { submissions_table.refresh() }
	});
	// Job
	const job_parameters = {
		"ID": {name: "id", type: "number", editable: false},
		"Job name": {name: "job_name", type: "string"},
		"Recruiter ID": {name: "recruiter", type: "number"},
		"Cost code": {name: "cost_code", type: "string"},
		"Pay rate": {name: "pay_rate", type: "number"},
		"Students": {name: "student", type: "array"}
	};
	const jobs_table = new AdvancedSearchTable("jobs-table-container", {
		json_url: "{% url 'jobList' %}"
		,columns: job_parameters
		,editable: true
		,row_click_event: (id) => { job_form.selectEntry(id); }
	});
	const job_form = new Form("job-form-container", {
		parameters: job_parameters,
		name: "job",
		fetch_url: "{% url 'jobDetail' pk=0 %}",
		post_url: "{% url 'jobList' %}",
		create_update_event: () => { jobs_table.refresh() }
	});
	// Line Manager
	const linemanager_parameters = {
		"ID": {name: "id", type: "number", editable: false},
        "Username": {name: "username", type: "string", "parent_object": ["user"]},
        "First name": {name: "first_name", type: "string", "parent_object": ["user"]},
        "Last name": {name: "last_name", type: "string", "parent_object": ["user"]},
       	"Email": {name: "email", type: "string", "parent_object": ["user"]},
        "Students": {name: "student", type: "array"}
    };
    const linemanagers_table = new AdvancedSearchTable("linemanagers-table-container", {
        json_url: "{% url 'lineManagerList' %}"
        ,columns: linemanager_parameters
		,editable: true
		,row_click_event: (id) => { linemanager_form.selectEntry(id); }
    })
	const linemanager_form = new Form("linemanager-form-container", {
		parameters: {
			...linemanager_parameters,
			"Password": {name: "password", type: "password", "parent_object": ["user"], blank: true}
		},
		name: "line manager",
		fetch_url: "{% url 'lineManagerDetail' pk=0 %}",
		post_url: "{% url 'lineManagerList' %}",
		create_update_event: () => { linemanagers_table.refresh() }
	});
	// Recruiter
	const recruiter_parameters = {
        "ID": {name: "id", type: "number", editable: false},
        "Username": {name: "username", type: "string", "parent_object": ["user"]},
        "First name": {name: "first_name", type: "string", "parent_object": ["user"]},
        "Last name": {name: "last_name", type: "string", "parent_object": ["user"]},
       	"Email": {name: "email", type: "string", "parent_object": ["user"]}
    };
    const recruiters_table = new AdvancedSearchTable("recruiter-table-container", {
        json_url: "{% url 'recruiterList' %}"
        ,columns: recruiter_parameters
		,editable: true
		,row_click_event: (id) => { recruiter_form.selectEntry(id); }
    })
	const recruiter_form = new Form("recruiter-form-container", {
		parameters: {
			...recruiter_parameters,
			"Password": {name: "password", type: "password", "parent_object": ["user"], blank: true}
		},
		name: "recruiter",
		fetch_url: "{% url 'recruiterDetail' pk=0 %}",
		post_url: "{% url 'recruiterList' %}",
		create_update_event: () => { recruiters_table.refresh() }
	});
    </script>
{% endblock %}

