{% extends "_base.html" %}
{% load static %}
{% block title %}
 View Tables
{% endblock %}

{% block content %}

    <button onclick="showTable('students-table-container', 'student-form-container')">Students</button>
    <button onclick="showTable('submissions-table-container', 'add-sub-form')">Submissions</button>
    <button onclick="showTable('jobs-table-container', 'job-form-container')">Jobs</button>
    <button onclick="showTable('linemanagers-table-container', 'linemanager-form-container')">Line Managers</button>
	<button onclick="showTable('recruiter-table-container', 'recruiter-form-container')">Recruiters</button>
	<main class="DBView">
	<div style="height: 800px" class="Column1" id="AccessDBAdminTables"> <!-- contains our four tables -->
		<div id="students-table-container"></div>
    	<div id="submissions-table-container" style="display:none"></div>
    	<div id="jobs-table-container" style="display:none"></div>
    	<div id="linemanagers-table-container" style="display: none"></div>
		<div id="recruiter-table-container" style="display: none"></div>
	</div>
	<!--
	<div id="add-student-form" class="Column2">
		<input type="text" name="user__username" placeholder="Username"><br>
		<input type="text" name="user__first_name" placeholder="First name"><br>
		<input type="text" name="user__last_name" placeholder="Last name"><br>
		<input type="text" name="user__email" placeholder="Email address"><br>
		<input type="text" name="user__password" placeholder="Password"><br>
		<label for="student_on_visa">On visa?</label>
		<input type="checkbox" name="on_visa" id="student_on_visa"><br>
		<button onclick="processStudentForm('create', 'add-student-form')">Add student</button>
	</div>
	-->
	<div id="student-form-container" class="Column2"></div>
	<div id="job-form-container" class="Column2" style="display: none"></div>
	<!--
	<div id="job-form-container" class="Column2" style="display: none">
		<div id="job-form-status-indicator" style="display: inline">No job selected.</div> <button id="job-deselect" onclick="clearJobForm()" disabled>Deselect</button>
		<div id="job-form" class="Form">
			<label for="job_name">Job name: </label>
			<input type="text" id="job_name" name="job_name" placeholder="Job name" ><br>
			<label for="cost_code">Cost code: </label>
			<input type="text" id="cost_code" name="cost_code" placeholder="Cost code"><br>
			<label for="pay_rate">Pay rate: </label>
			<input type="text" id="pay_rate" name="pay_rate" placeholder="Pay rate"><br>
			<fieldset id="job_student-container" class="ArrayField">
				<legend>Students</legend>
				<button onclick="jobAddStudent()" id="job-add-student">Add student</button><br>
			</fieldset>
			<button onclick="processJobForm('create', 'job-form')" id="job-create">Create job</button>
			<button onclick="processJobForm('update', 'job-form')" id="job-update" disabled>Update job</button>
		</div>
	</div>
	-->
	<div id="add-sub-form" class="Column2" style="display: none">
		<p>sub</p>
	</div>
	<div id="linemanager-form-container" class="Column2" style="display: none">
	<!--
	<div id="linemanager-form-container" class="Column2" style="display: none">
		<div id="linemanager-form-status-indicator" style="display: inline">No linemanager selected.</div>
		<div id="linemanager-form" class="Form">
			<label for="linemanager_id">Line manager ID: </label>
			<input type="number" id="linemanager_id" name="id" readonly><br>
			<label for="linemanager_username">Username: </label>
			<input type="text" id="linemanager_username" name="linemanager__user__username" placeholder="username" ><br>
			<label for="linemanager_first_name">First name: </label>
			<input type="text" id="linemanager_first_name" name="linemanager__user__first_name" placeholder="First name" ><br>
			<label for="linemanager_last_name">Last name: </label>
			<input type="text" id="linemanager_last_name" name="linemanager__user__last_name" placeholder="Last name" ><br>
			<label for="linemanager_email">Email: </label>
			<input type="text" id="linemanager_email" name="linemanager__user__email" placeholder="Email" ><br>
			<label for="linemanager_password">Password: </label>
			<input type="text" id="linemanager_password" name="linemanager__user__password" placeholder="Password" ><br>
			<fieldset id="linemanager_student-container" class="ArrayField">
				<legend>Students</legend>
				<button onclick="linemanagerAddStudent()" id="linemanager-add-student">Add student</button><br>
			</fieldset>
			<button onclick="processLineManagerForm('create', 'linemanager-form')" id="linemanager-create">Create</button>
			<button onclick="processLineManagerForm('update', 'linemanager-form')" id="linemanager-update">Update</button>
		</div>
	</div>
	-->
	<div id="recruiter-form-container" class="Column2" style="display: none">
		<div id="recruiter-form-status-indicator">No recruiter selected.</div>
		<div id="recruiter-form" class="Form">
			<label for="recruiter_id">Line manager ID: </label>
			<input type="number" id="recruiter_id" name="id" readonly><br>
			<label for="recruiter_username">Username: </label>
			<input type="text" id="recruiter_username" name="recruiter__user__username" placeholder="username" ><br>
			<label for="recruiter_first_name">First name: </label>
			<input type="text" id="recruiter_first_name" name="recruiter__user__first_name" placeholder="First name" ><br>
			<label for="recruiter_last_name">Last name: </label>
			<input type="text" id="recruiter_last_name" name="recruiter__user__last_name" placeholder="Last name" ><br>
			<label for="recruiter_email">Email: </label>
			<input type="text" id="recruiter_email" name="recruiter__user__email" placeholder="Email" ><br>
			<label for="recruiter_password">Password: </label>
			<input type="text" id="recruiter_password" name="recruiter__user__password" placeholder="Password" ><br>
			<button onclick="processRecruiterForm('create', 'recruiter-form')" id="recruiter-create">Create</button>
			<button onclick="processRecruiterForm('update', 'recruiter-form')" id="recruiter-update">Update</button>
		</div>
	</div>
	</main>

    <script src="{% static 'table.js' %}"></script>
    <script>
	"use strict";
	class Form {
		constructor(container_id, options = {}) {
			Object.assign(this, {
				parameters: {},
				name: "defaultname",
				selected_id: null,
				fetch_url: "",
				post_url: ""
			}, options);
			this.container_element = document.getElementById(container_id);
			this.selected_indicator_element = document.createElement("b");
			this.form_element = document.createElement("div");
			this.form_element.classList.add("Form");

			this.selected_indicator_element.textContent = `No ${this.name} selected.`;
			this.container_element.appendChild(this.selected_indicator_element);
			console.log(this.parameters);
			for (const [parameter_name, parameter_properties] of Object.entries(this.parameters)) {
				if (typeof parameter_properties.editable !== "undefined" && !parameter_properties.editable && parameter_properties.type !== "array") {
					continue;
				}
				let id_stringbuilder = [this.name];
				if (typeof parameter_properties.parent_object !== "undefined") {
					for (const parent_object of parameter_properties.parent_object) {
						id_stringbuilder.push("__");
						id_stringbuilder.push(parent_object);
					}
				}
				id_stringbuilder.push("_");
				id_stringbuilder.push(parameter_properties.name);
				let input_id = id_stringbuilder.join("");
				if (parameter_properties.type === "array") {
					let fieldset_element = document.createElement("fieldset");
					let legend_element = document.createElement("legend");
					legend_element.textContent = parameter_name;
					fieldset_element.appendChild(legend_element);
					let add_button = document.createElement("button");
					add_button.textContent = "Add";
					add_button.onclick = () => {
						this.addArrayEntry(parameter_name);
					}
					fieldset_element.appendChild(add_button);
					this.parameters[parameter_name]["fieldset_element"] = fieldset_element;
					this.parameters[parameter_name]["add_button"] = add_button;
					this.form_element.appendChild(fieldset_element);
					// for (array_item of parameter_properties.value) {
					// 	this.addArrayItem(parameter_name);
					// }
				}
				else {
					let label_element = document.createElement("label");
					label_element.setAttribute("for", input_id);
					label_element.textContent = parameter_name;
					let input_element = document.createElement("input");
					if (parameter_properties.type === "string") {
						input_element.type = "text";
					}
					else if (parameter_properties.type === "boolean") {
						input_element.type = "checkbox";
					}
					else {
						input_element.type = parameter_properties.type;
					}
					input_element.id = input_id;
					input_element.name = input_id;
					this.form_element.appendChild(label_element);
					this.form_element.appendChild(input_element);
					this.parameters[parameter_name]["input_element"] = input_element;
				}
				// this.form_element.appendChild(document.createElement("br"));
			}
			this.create_button = document.createElement("button");
			this.create_button.onclick = () => { this.submitForm("create") };
			this.create_button.textContent = "Create";
			this.update_button = document.createElement("button");
			this.update_button.onclick = () => { this.submitForm("update") };
			this.update_button.textContent = "Update";
			// this.deselect_button = document.createElement("button");
			// this.deselect_button.onclick = () => { this.deselect() };
			// this.deselect_button.textContent = "Deselect";
			// this.selected_indicator_element.insertAdjacentElement("afterend", this.deselect_button);
			this.container_element.appendChild(this.form_element);
			this.container_element.appendChild(this.create_button);
			this.container_element.appendChild(this.update_button);
		}
		addArrayEntry(parameter_name, array_item = null) {
			let array_item_container_element = document.createElement("div");
			array_item_container_element.classList.add("ArrayItem");
			let array_item_input_element = document.createElement("input");
			array_item_input_element.type = "number";
			array_item_input_element.setAttribute("min", 0);
			if (array_item) {
				array_item_input_element.value = array_item.id;
			}
			let array_item_delete_button = document.createElement("button");
			array_item_delete_button.textContent = "delete";
			array_item_delete_button.onclick = () => {
				this.parameters[parameter_name].fieldset_element.removeChild(array_item_container_element);
			}
			array_item_container_element.appendChild(array_item_input_element);
			array_item_container_element.appendChild(array_item_delete_button);
			this.parameters[parameter_name].add_button.insertAdjacentElement("beforebegin", array_item_container_element);
		}
		async selectEntry(entry_id) {
			this.selected_id = entry_id;
			let url = this.fetch_url.replace('0', this.selected_id).replace("placeholdername", this.name);
			this.update_button.disabled = true;
			// this.deselect_button.disabled = true;
			this.selected_indicator_element.textContent = `Loading ${this.name}...`;
			let response = await fetch(url);
			await response.json().then(response_obj => {
				console.log(response_obj);
				// this.selected_id = response_obj.id;
				// this.selected_indicator_element.removeChild(this.selected_indicator_element.lastChild);
				this.selected_indicator_element.textContent = `Selected ${this.name}: ${this.selected_id}`;
				// let show_id_span = document.createElement("span");
				// show_id_span.id = "job_id";
				// show_id_span.textContent = response_obj.id;
				// job_form_status_indicator.appendChild(job_id_span);
				this.update_button.disabled = false;
				// this.deselect_button.disabled = false;

				// Fill out the form
				for (const [parameter_name, parameter_properties] of Object.entries(this.parameters)) {
					if (typeof parameter_properties.editable !== "undefined" && !parameter_properties.editable && parameter_properties.type !== "array") {
						continue;
					}
					let temp_json_value;
					if (parameter_properties.type === "array") {
						while (parameter_properties.fieldset_element.firstChild !== parameter_properties.add_button) {
							parameter_properties.fieldset_element.removeChild(parameter_properties.fieldset_element.children[0]);
						}
						for (let array_item of response_obj[parameter_properties.name]) {
							this.addArrayEntry(parameter_name, array_item);
							// let array_item_container_element = document.createElement("div");
							// array_item_container_element.classList.add("ArrayItem");
							// let array_item_input_element = document.createElement("input");
							// array_item_input_element.type = "number";
							// array_item_input_element.setAttribute("min", 0);
							// array_item_input_element.value = array_item;
							// let array_item_delete_button = document.createElement("button");
							// array_item_delete_button.textContent = "delete";
							// array_item_delete_button.onclick = () => {
							// 	parameter_properties.fieldset_element.removeChild(array_item_container_element);
							// }
							// array_item_container_element.appendChild(array_item_input_element);
							// array_item_container_element.appendChild(array_item_delete_button);
							// this.parameters[parameter_name].fieldset_element.appendChild(array_item_container_element);
						}
					}
					else {
						if (typeof parameter_properties.parent_object !== "undefined") {
							temp_json_value = response_obj;
							for (let parent_key of parameter_properties.parent_object ) {
								temp_json_value = temp_json_value[parent_key];	
							}
							temp_json_value = temp_json_value[parameter_properties.name];
						}
						else {
							temp_json_value = response_obj[parameter_properties.name];
						}
						if (parameter_properties.type === "boolean") {
							this.parameters[parameter_name].input_element.checked = temp_json_value;
						}
						else if (parameter_properties.type === "array") {
						}
						else {
							this.parameters[parameter_name].input_element.value = temp_json_value;
						}
					}
				}
			});
		}
		async submitForm(action) {
			let form_data = {
				_id: this.selected_id,
				_action: action
			}
			for (let [parameter_name, parameter_properties] of Object.entries(this.parameters)) {
				if (parameter_properties.type === "array") {
					let temp_array = [];
					for (let array_entry of parameter_properties.fieldset_element.querySelectorAll(".ArrayItem")) {
						temp_array.push(array_entry.children[0].value);
					}
					form_data[parameter_properties.name] = temp_array;
				}
				else if (typeof parameter_properties.editable !== "undefined" && !parameter_properties.editable) {
					continue;
				}
				else {
					let base_for_entry = form_data;
					if (typeof parameter_properties.parent_object !== "undefined") {
						for (let parent_object of parameter_properties.parent_object) {
							if (typeof form_data[parent_object] === "undefined") {
								form_data[parent_object] = {};
							}
							base_for_entry = form_data[parent_object];
						}
					}
					if (parameter_properties.type === "boolean") {
						base_for_entry[parameter_properties.name] = parameter_properties.input_element.checked;
					}
					else {
						base_for_entry[parameter_properties.name] = parameter_properties.input_element.value;
					}
				}
			}
			console.log(form_data);
			await Form.postJSON(this.post_url, form_data);
		}
		// sends JSON to the server. the form handling is in our views.py
		static async postJSON(url, data) {
    	    const fetch_response = await fetch(url, {
    	        method: "POST",
    	        body: JSON.stringify(data),
    	        headers: {
    	            "Content-type": "application/json; charset=UTF-8"
    	        }
    	    });
			console.log(fetch_response);
			if(fetch_response.ok){
				alert("Successfully created student account");
			}
			else{
				alert("Please fill out every field");
			}
    	    return fetch_response;
    	}
	}
	let student_parameters = {
       "ID": {name: "id", type: "number", editable: false}
       ,"Username": {name: "username", type: "string", "parent_object": ["user"]}
       ,"First Name": {name: "first_name", type: "string", "parent_object": ["user"]}
       ,"Last Name": {name: "last_name", type: "string", "parent_object": ["user"]}
       ,"Email": {name: "email", type: "string", "parent_object": ["user"]}
       ,"Password": {name: "password", type: "string", "parent_object": ["user"]}
       ,"On Visa?": {name: "on_visa", type: "boolean"}
       ,"Hours Worked": {name: "hours_worked", type:"number"}
    };
	let job_parameters = {
		"ID": {name: "id", type: "number", editable: false},
		"Job Name": {name: "job_name", type: "string"},
		"Cost Code": {name: "cost_code", type: "string"},
		"Pay Rate": {name: "pay_rate", type: "number"},
		"Students": {name: "student", type: "array"}
	};
	let linemanager_parameters = {
		"ID": {name: "id", type: "number", editable: false},
        "Username": {name: "username", type: "string", "parent_object": ["user"]},
        "First Name": {name: "first_name", type: "string", "parent_object": ["user"]},
        "Last Name": {name: "last_name", type: "string", "parent_object": ["user"]},
       	"Email": {name: "email", type: "string", "parent_object": ["user"]},
       	"Password": {name: "password", type: "string", "parent_object": ["user"]},
        "Students": {name: "student", type: "array"}
    };
	const student_form = new Form("student-form-container", {
		parameters: student_parameters,
		name: "student",
		fetch_url: "{% url 'studentDetail' pk=0 %}",
		post_url: "{% url 'studentList' %}"
	});
	const job_form = new Form("job-form-container", {
		parameters: job_parameters,
		name: "job",
		fetch_url: "{% url 'jobDetail' pk=0 %}",
		post_url: "{% url 'jobList' %}"
	});
	const linemanager_form = new Form("linemanager-form-container", {
		parameters: linemanager_parameters,
		name: "line manager",
		fetch_url: "{% url 'lineManagerDetail' pk=0 %}",
		post_url: "{% url 'lineManagerList' %}"
	});

    const swappable_table_containers = [
        document.getElementById("students-table-container"),
        document.getElementById("submissions-table-container"),
        document.getElementById("jobs-table-container"),
        document.getElementById("linemanagers-table-container"),
		document.getElementById("recruiter-table-container"),
        document.getElementById("student-form-container"),
        document.getElementById("add-sub-form"),
        document.getElementById("job-form-container"),
        document.getElementById("linemanager-form-container"),
        document.getElementById("recruiter-form-container")
    ];
    function showTable(container_id, form_id) {
        for (let table_container of swappable_table_containers) {
            if (container_id === table_container.id) {
                table_container.style["display"] = "flex";
            }
            else if (form_id === table_container.id){
            	table_container.style["display"] = "block";
            }
            else {
                table_container.style["display"] = "none";
            }
        }
    }
	/*

	const linemanager_form_container = document.getElementById("linemanager-form");
	const linemanager_form_status_indicator = document.getElementById("linemanager-form-status-indicator");
	const linemanager_add_student_button = document.getElementById("linemanager-add-student");
	const linemanager_create_button = document.getElementById("linemanager-create");
	const linemanager_update_button = document.getElementById("linemanager-update");
	const linemanager_form = {
		id: linemanager_form_container.querySelector("input[name=id]"),
		linemanager_username: linemanager_form_container.querySelector("input[name=linemanager__user__username]"),
		linemanager_first_name: linemanager_form_container.querySelector("input[name=linemanager__user__first_name]"),
		linemanager_last_name: linemanager_form_container.querySelector("input[name=linemanager__user__last_name]"),
		linemanager_email: linemanager_form_container.querySelector("input[name=linemanager__user__email]"),
		linemanager_password: linemanager_form_container.querySelector("input[name=linemanager__user__password]"),
		student_container: document.getElementById("linemanager_student-container")
	}
	function linemanagerAddStudent(student_id = null) {
		let temp_student_element = document.createElement("div");
		temp_student_element.classList.add("ArrayItem");
		let student_id_input = document.createElement("input");
		student_id_input.type = "number";
		if (student_id) {
			student_id_input.value = student_id;
		}
		student_id_input.min = 0;
		let student_delete_button = document.createElement("button");
		student_delete_button.textContent = "Delete";
		student_delete_button.onclick = () => {
			linemanager_form.student_container.removeChild(temp_student_element);
		}
		temp_student_element.appendChild(student_id_input);
		temp_student_element.appendChild(student_delete_button);
		linemanager_add_student_button.insertAdjacentElement("beforebegin", temp_student_element);
	}
	async function processLineManagerForm(action) {
		let to_submit = {
			_id: linemanager_form.id.value,
			_action: action,
			user: {
				username: linemanager_form.linemanager_username.value,
				first_name: linemanager_form.linemanager_first_name.value,
				last_name: linemanager_form.linemanager_last_name.value,
				email: linemanager_form.linemanager_email.value,
				password: linemanager_form.linemanager_password.value
			},
			student: []
		}
		for (let student_entry of linemanager_form.student_container.querySelectorAll(".ArrayItem")) {
			to_submit.student.push(student_entry.children[0].value);
		}
		console.log(to_submit);
		let url = "{% url 'lineManagerList' %}";
		let response = await postJSON(url, to_submit);
		console.log(response);
	}
	async function getLineManagerDetails(linemanager_id) {
		let name = "{% url 'lineManagerDetail' pk=0 %}".replace('0', linemanager_id);
		linemanager_update_button.disabled = true;
		linemanager_form_status_indicator.textContent = "Loading linemanager...";
		let response = await fetch(name);
		await response.json().then(response_obj => {
			console.log(response_obj);
			linemanager_form_status_indicator.textContent = `Selected LineManager ${response_obj.id}`;
			linemanager_update_button.disabled = false;
			linemanager_form.id.value = response_obj.id;
			linemanager_form.linemanager_username.value = response_obj.user.username;
			linemanager_form.linemanager_first_name.value = response_obj.user.first_name;
			linemanager_form.linemanager_last_name.value = response_obj.user.last_name;
			linemanager_form.linemanager_email.value = response_obj.user.email;
			linemanager_form.linemanager_password.value = response_obj.user.password;
			// Delete the student html entries
			linemanager_form.student_container.querySelectorAll(".ArrayItem").forEach(element => {
				element.parentNode.removeChild(element)
			});
			for (let student of response_obj.student) {
				linemanagerAddStudent(student.id);
			}
		});
		console.log(linemanager_id);
	}
	*/

    let entries_per_page = 50;

	/********************** RECRUITER SIDEBAR **********************/
	const recruiter_form_container = document.getElementById("recruiter-form");
	const recruiter_form_status_indicator = document.getElementById("recruiter-form-status-indicator");
	const recruiter_add_student_button = document.getElementById("recruiter-add-student");
	const recruiter_create_button = document.getElementById("recruiter-create");
	const recruiter_update_button = document.getElementById("recruiter-update");
	const recruiter_form = {
		id: recruiter_form_container.querySelector("input[name=id]"),
		recruiter_username: recruiter_form_container.querySelector("input[name=recruiter__user__username]"),
		recruiter_first_name: recruiter_form_container.querySelector("input[name=recruiter__user__first_name]"),
		recruiter_last_name: recruiter_form_container.querySelector("input[name=recruiter__user__last_name]"),
		recruiter_email: recruiter_form_container.querySelector("input[name=recruiter__user__email]"),
		recruiter_password: recruiter_form_container.querySelector("input[name=recruiter__user__password]")
	}

	async function processRecruiterForm(action) {
		let to_submit = {
			_id: recruiter_form.id.value,
			_action: action,
			user: {
				username: recruiter_form.recruiter_username.value,
				first_name: recruiter_form.recruiter_first_name.value,
				last_name: recruiter_form.recruiter_last_name.value,
				email: recruiter_form.recruiter_email.value,
				password: recruiter_form.recruiter_password.value
			},
		}
		console.log(to_submit);
		let url = "{% url 'recruiterList' %}";
		let response = await postJSON(url, to_submit);
		console.log(response);
	}
	
	async function getRecruiterDetails(recruiter_id) {
		let name = "{% url 'recruiterDetail' pk=0 %}".replace('0', recruiter_id);
		recruiter_update_button.disabled = true;
		recruiter_form_status_indicator.textContent = "Loading recruiter...";
		let response = await fetch(name);
		await response.json().then(response_obj => {
			console.log(response_obj);
			recruiter_form_status_indicator.textContent = `Selected recruiter ${response_obj.id}`;
			recruiter_update_button.disabled = false;
			recruiter_form.id.value = response_obj.id;
			recruiter_form.recruiter_username.value = response_obj.user.username;
			recruiter_form.recruiter_first_name.value = response_obj.user.first_name;
			recruiter_form.recruiter_last_name.value = response_obj.user.last_name;
			recruiter_form.recruiter_email.value = response_obj.user.email;
			recruiter_form.recruiter_password.value = response_obj.user.password;
			// Delete the student html entries
			recruiter_form.student_container.querySelectorAll(".ArrayItem").forEach(element => {
				element.parentNode.removeChild(element)
			});
			for (let student of response_obj.student) {
				recruiterAddStudent(student.id);
			}
		});
		console.log(recruiter_id);
	}


    const students_table = new AdvancedSearchTable("students-table-container", {
        json_url: "{% url 'studentList' %}"
        ,columns: student_parameters
		,editable: true
		,row_click_event: (id) => { student_form.selectEntry(id); }
    })
	const submissions_table = new AdvancedSearchTable("submissions-table-container", {
		json_url: "{% url 'submissionList' %}"
		,columns: {
			"student id": {name: "student", type: "number"},
			"job id": {name: "job", type: "number"},
			"line manager id": {name: "line_manager", type: "number"},
			"Hours": {name: "hours", type: "number"},
			"Date worked": {name: "date_worked", type: "date"},
			"Date submitted": {name: "date_submitted", type: "date"},
			"Accepted": {name: "accepted", type: "boolean"}
        }
        ,editable: true
	});
	const jobs_table = new AdvancedSearchTable("jobs-table-container", {
		json_url: "{% url 'jobList' %}"
		,columns: job_parameters
		,editable: true
		,row_click_event: (id) => { job_form.selectEntry(id); }
	});
    const linemanagers_table = new AdvancedSearchTable("linemanagers-table-container", {
        json_url: "{% url 'lineManagerList' %}"
        ,columns: linemanager_parameters
		,editable: true
		,row_click_event: (id) => { linemanager_form.selectEntry(id); }
    })

    const recruiters_table = new AdvancedSearchTable("recruiter-table-container", {
        json_url: "{% url 'recruiterList' %}"
        ,columns: {
            "ID": {name: "id", type: "number"}
            ,"Username": {name: "username", type: "string", "parent_object": ["user"]}
            ,"First Name": {name: "first_name", type: "string", "parent_object": ["user"]}
            ,"Last Name": {name: "last_name", type: "string", "parent_object": ["user"]}
        }
		,editable: true
    })
			
	async function postJSON(url, data) {
		const fetch_response = await fetch(url, {
			method: "POST",
			body: JSON.stringify(data),
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		});
		return fetch_response;
	}

    </script>
{% endblock %}

