{% extends "_base.html" %}
{% load static %}
{% block title %}
 View Tables
{% endblock %}

{% block content %}

<script>
    function SelectStudent()
    {
        document.getElementById("Students").style["display"] = "block"
        document.getElementById("Jobs").style["display"] = "none"
        document.getElementById("LineManagers").style["display"] = "none"
        document.getElementById("Submissions").style["display"] = "none"
        document.getElementById("AddStu").style["display"] = "block"
        document.getElementById("DelStu").style["display"] = "block"
        document.getElementById("StuLink").style["display"] = "block"
        document.getElementById("JobLink").style["display"] = "none"
        document.getElementById("ManLink").style["display"] = "none"
        document.getElementById("SubLink").style["display"] = "none"
        document.getElementById("AddStudent").style["display"] = "none"
    }

    function SelectJob()
    {
        document.getElementById("Jobs").style["display"] = "block"
        document.getElementById("Students").style["display"] = "none"
        document.getElementById("LineManagers").style["display"] = "none"
        document.getElementById("Submissions").style["display"] = "none"
        document.getElementById("AddStu").style["display"] = "none"
        document.getElementById("DelStu").style["display"] = "none"
        document.getElementById("StuLink").style["display"] = "none"
        document.getElementById("JobLink").style["display"] = "block"
        document.getElementById("ManLink").style["display"] = "none"
        document.getElementById("SubLink").style["display"] = "none"
        document.getElementById("AddStudent").style["display"] = "none"
    }

    function SelectLM()
    {
        document.getElementById("LineManagers").style["display"] = "block"
        document.getElementById("Students").style["display"] = "none"
        document.getElementById("Jobs").style["display"] = "none"
        document.getElementById("Submissions").style["display"] = "none"
        document.getElementById("AddStu").style["display"] = "none"
        document.getElementById("DelStu").style["display"] = "none"
        document.getElementById("StuLink").style["display"] = "none"
        document.getElementById("JobLink").style["display"] = "none"
        document.getElementById("ManLink").style["display"] = "block"
        document.getElementById("SubLink").style["display"] = "none"
        document.getElementById("AddStudent").style["display"] = "none"
    }

    function SelectSub()
    {
        document.getElementById("Submissions").style["display"] = "block"
        document.getElementById("Students").style["display"] = "none"
        document.getElementById("LineManagers").style["display"] = "none"
        document.getElementById("Jobs").style["display"] = "none"
        document.getElementById("AddStu").style["display"] = "none"
        document.getElementById("DelStu").style["display"] = "none"
        document.getElementById("StuLink").style["display"] = "none"
        document.getElementById("JobLink").style["display"] = "none"
        document.getElementById("ManLink").style["display"] = "none"
        document.getElementById("SubLink").style["display"] = "block"
        document.getElementById("AddStudent").style["display"] = "none"
    }

    function ShowCRUDBox(clicked_id)
    {
        if (document.getElementById("AddStudent").style["display"] == "none")
        {
            document.getElementById("AddStudent").style["display"] = "flex"
            if (clicked_id == "AddStu")
            {
                document.getElementById("Add").style["display"] = "block"
                document.getElementById("Upd").style["display"] = "none"
                document.getElementById("Del").style["display"] = "none"
            }
            if (clicked_id == "UpdStu")
            {
                document.getElementById("Add").style["display"] = "none"
                document.getElementById("Upd").style["display"] = "block"
                document.getElementById("Del").style["display"] = "none"
            }
            if (clicked_id == "DelStu")
            {
                document.getElementById("Add").style["display"] = "none"
                document.getElementById("Upd").style["display"] = "none"
                document.getElementById("Del").style["display"] = "block"
            }
        }
        else
        {
            document.getElementById("AddStudent").style["display"] = "none"
            document.getElementById("Add").style["display"] = "none"
            document.getElementById("Upd").style["display"] = "none"
            document.getElementById("Del").style["display"] = "none"
        }
    }

</script>

{% if Message is not None %}
    <h3>{{ Message }}</h3>
{% endif %}
<!-- Table Layout: Job -->
<div class = "Row">
    <div class = "Col left">
        <div class="Pagination">
            <div id="advanced_search" class="ADVBox">
                <p>Select a table to oversee:</p>
                <form id = TableSelect>
                    <input type="radio" id="StudentClicker" name="Selector" value="Students" onclick="SelectStudent()">
                    <label for="StudentClicker">View Student Timesheet</label><br>
                    <input type="radio" id="JobClicker" name="Selector" value="Jobs" onclick="SelectJob()">
                    <label for="JobClicker">View Stored Jobs</label><br>
                    <input type="radio" id="LineManagerClicker" name="Selector" value="LineManagers" onclick="SelectLM()">
                    <label for="LineManagerClicker">View Line Managers</label><br>
                    <input type="radio" id="SubmissionClicker" name="Selector" value="Submissions" onclick="SelectSub()">
                    <label for="SubmissionClicker">View Submissions</label><br>
                </form>
                <button id="AddStu" style="display: none" onclick="ShowCRUDBox(this.id)">Add student</button>
                <button id="DelStu" style="display: none" onclick="ShowCRUDBox(this.id)">Delete student</button>
                <div class="Pagination">
                    <div id="StuLink" style="display: none">
                        <span class="StepLinks">
                            {% if Students.has_previous %}
                                <a class="PaginationLinks" href="?Students_page=1">&laquo; first</a>
                                <a class="PaginationLinks" href="?Students_page={{ Students.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="CurrentPage">
                                Page {{ Students.number }} of {{ Students.paginator.num_pages }}.
                            </span>

                            {% if Students.has_next %}
                                <a class="PaginationLinks" href="?Students_page={{ Students.next_page_number }}">next</a>
                                <a class="PaginationLinks" href="?Students_page={{ Students.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                    <div id="JobLink" style="display: none">
                        <span class="StepLinks">
                            {% if Jobs.has_previous %}
                                <a class="PaginationLinks" href="?Jobs_page=1">&laquo; first</a>
                                <a class="PaginationLinks" href="?Jobs_page={{ Jobs.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="CurrentPage">
                                Page {{ Jobs.number }} of {{ Jobs.paginator.num_pages }}.
                            </span>

                            {% if Jobs.has_next %}
                                <a class="PaginationLinks" href="?Jobs_page={{ Jobs.next_page_number }}">next</a>
                                <a class="PaginationLinks" href="?Jobs_page={{ Jobs.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>

                    <div id="ManLink" style="display: none">
                        <span class="StepLinks">
                            {% if LineManagers.has_previous %}
                                <a class="PaginationLinks" href="?LineManagers_page=1">&laquo; first</a>
                                <a class="PaginationLinks" href="?LineManagers_page={{ LineManagers.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="CurrentPage">
                                Page {{ LineManagers.number }} of {{ LineManagers.paginator.num_pages }}.
                            </span>

                            {% if LineManagers.has_next %}
                                <a class="PaginationLinks" href="?LineManagers_page={{ LineManagers.next_page_number }}">next</a>
                                <a class="PaginationLinks" href="?LineManagers_page={{ LineManagers.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                    <div id="SubLink" style="display: none">
                        <span class="StepLinks">
                            {% if Submissions.has_previous %}
                                <a class="PaginationLinks" href="?Submissions_page=1">&laquo; first</a>
                                <a class="PaginationLinks" href="?Submissions_page={{ Submissions.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="CurrentPage">
                                Page {{ Submissions.number }} of {{ Submissions.paginator.num_pages }}.
                            </span>

                            {% if Submissions.has_next %}
                                <a class="PaginationLinks" href="?Submissions_page={{ Submissions.next_page_number }}">next</a>
                                <a class="PaginationLinks" href="?Submissions_page={{ Submissions.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "Col right">
        <div class = "TableBox">
            <table id="Jobs" style="display: none">
                <tr>
                    <th>Job ID:</th>
                    <th>Job Name:</th>
                    <th>Cost Code:</th>
                    <th>Pay Rate:</th>
                    <th></th>
                </tr>
                {% for item in Jobs %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.job_name }}</td>
                    <td>{{ item.cost_code }}</td>
                    <td>{{ item.pay_rate }}</td>
                    <td><a class="UDLinks" href="{% url 'deletejob' item.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Table Layout: Student -->
        <div class = "TableBox">
            <table id="Students" style="display: none">
                <tr>
                    <th>Username:</th>
                    <th>First name:</th>
                    <th>Last name:</th>
                    <th>On visa?</th>
                    <th>Visa Expiry:</th>
                    <th>Student Number:</th>
                    <th>Payroll Number:</th>
                    <th colspan="2">Actions</th>
                </tr>

                {% for item in Students %}
                <tr>
                    <td>{{ item.username }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.on_visa }}</td>
                    <td>
                        {% if item.on_visa == True %}
                            {{ item.visa_expiry }}
                        {% else %}
                            n/a
                        {% endif %}
                    </td>
                    <td>{{ item.student_number }}</td>
                    <td>{{ item.payroll_number }}</td>
                    <td><a class="UDLinks" href="{% url 'update' item.id %}">Update</a></td>
                    <td><a class="UDLinks" href="{% url 'delete' item.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Table Layout: Line Manager -->
        <div class = "TableBox">
            <table id="LineManagers" style="display: none">
                <tr>
                    <th>Line Manager ID:</th>
                    <th>Email:</th>
                    <th>Name:</th>
                    <th>Username:</th>
                {% for item in LineManagers %}
                </tr>
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.username }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Table Layout: Submissions -->
        <div class = "TableBox">
            <table id="Submissions" style="display: none">
                <tr>
                    <th>Submission ID:</th>
                    <th>Hours:</th>
                    <th>Student Name:</th>
                    <th>Job:</th>
                    <th>Line Manager:</th>
                    <th>Date Worked</th>
                    <th>Date Submitted</th>
                    <th>Accepted</th>
                </tr>
                {% for item in Submissions %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.hours }}</td>
                    <td>{{ item.student.first_name }} {{ item.student.last_name }}</td>
                    <td>{{ item.job.job_name }}</td>
                    <td>{{ item.line_manager.name }}</td>
                    <td>{{ item.date_worked }}</td>
                    <td>{{ item.date_submitted }}</td>
                    <td>{{ item.accepted }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div id="AddStudent" style="display: none" class="CRUDBox">
    <div class="Grow"></div>
    <div class="Bottom">
        <form id="Add" action="" method="POST" style="display: none">
            {% csrf_token %}
            {{ StudentCreationForm.as_p }}
            <button type="submit">Add Student</button>
        </form>
        <form id="Upd" action="" method="POST" style="display: none">
            {% csrf_token %}
            {{ StudentUpdateForm.as_p }}
            <button type="submit">Update Student</button>
        </form>
        <form id="Del" method="POST" style="display: none">
            {% csrf_token %}
            <button type="submit">Delete Student</button>
        </form>
    </div>
</div>
<script src="{% static 'advanced_search.js' %}"></script>
    <script>
    advanced_search = new AdvancedSearch("advanced_search", {
        "parameter_options": {
            {% for item in ValidSearchParameters %}
                "{{ item.0 }}": {"type": "{{ item.1 }}"},
            {% endfor %}
        }
        ,"form_action": "{% url 'adminSHU' %}"
    });
    </script>
{% endblock %}

