html {
	height: 100vh;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
    font-family: sans-serif;
    background-color: #621b40;
    margin: 0;
	color: #fff;
}

.AwesomeTableContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: fit-content;

	.TableRefreshButton, .TableDeleteButton {
		float: right;
	}
	.TableRefreshButton {
		background-color: #bdf;
		&:hover:not([disabled]) {
			background-color: #9bd;
		}
	}
	.TableDeleteButton {
		background-color: #fcc;
		&:hover:not([disabled]) {
			background-color: #daa;
		}
	}
	.EntryEditButton, .EntryDeleteCheckbox, .EntryConfirmEditButton, .EntryCancelEditButton {
		/*content: url("/static/pencil-icon-x24.png") / "Editit";*/
		/*background-image: url("/static/pencil-icon-x24.png");*/
		display: block;
		width: 28px;
		height: 28px;
		padding: 0;
		margin: 1px;
	}
	.EntryEditButton::before {
		content: url("/static/pencil-icon-x24.png") / "Edit";
	}
	.EntryConfirmEditButton::before {
		content: url("/static/checkmark-icon-x24.png") / "Confirm";
	}
	.EntryCancelEditButton::before {
		content: url("/static/rollback-icon-x24.png") / "Rollback";
	}
	.EntryDeleteCheckbox {
		appearance: none; /* Hide the broswer's default checkmark */
		cursor: pointer;
		background-color: #f88;
		border: 2px outset #ddd;
		&:hover {
			background-color: #d66;
		}
		&:checked {
			background-color: #f88;
			border-style: inset;
			&::before {
				content: url("/static/trashbin-icon-x24.png") / "Select for deletion";
			}
		}
	}
	tr:nth-child(even) {
		background-color: #eee;
	}
	.TableActionColumn {
		background-color: #fce;
	}
	/*
	tr:hover {
		background-color: #ccc;
	}
	*/
}

.TableBox {
	flex: 1 1 auto;
	min-height: 0;
	color: #000;
	border-width: 1px 0;
	border-color: #222;
	border-style: solid;
	overflow: auto scroll;
	background-color: #ddd;
	padding-right: 12px;

	table {
		background-color: #ddd;
		/* border-collapse: collapse; */
		border-spacing: 0;
		font-size: 18px;
	}
	thead {
		position: sticky;
		top: 0;
	}
	th {
		background-color: #fff;
	}
	th, td {
		border-width: 1px;
		border-color: #222;
		border-style: solid;
		padding: 2px 4px;
	}
	td {
		font-family: serif;
	}
	.ClickableRows tr:hover:not(:has(.TableActionColumn:hover)) {
		cursor: pointer;
		background-color: #ead;
		text-decoration: underline;
	}
}

.SideBox{
    height: 50em;
    min-width: 25em;
    max-width: 25em;
    background-color: #ddd;
    opacity: 0.75;
	color: #000;
}

.Row{
  display: flex;
}

.Col{
  float: left;
  padding: 10px;
}

.left{
  width: 15%;
}

.right{
  width: 85%;
}

/*navbar*/

header {
	flex: 0 0 auto;
	position: sticky;
	top: 0;
	z-index: 1;
}

.Navbar{
	display: flow-root;
    /*font-family: Sans-serif;*/
    background-color: #BF0167;
}

.Navlink{
    color: #f2f2f2;
    text-align: center;
    padding: 24px 24px;
    text-decoration: none;
    font-size: 24px;
    float: left;
}

.Navlink:hover, .Navlink.OverrideButton:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.Navlink.OverrideButton{
    border: none;
    outline: none;
    font: inherit;
    color: #f2f2f2;
    font-size: 24px;
    background-color: transparent;
    float: right;
}

.CRUDBox{
    height: 600px;
    width: 600px;
    border: 3px solid #797979;
    background-image: linear-gradient(#ba0046 0%, #621b40 75%);
    display: block;
    text-align: center;
    flex-flow: column;

}

.SHULogo{
    float:left;
	padding: 3px 0;
}

#AddStudent{
    z-index: 9;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.Grow{
    flex: 1 1 100%;
}

.Bottom{
    flex: 0 0 200px;
}
/*
.AddParameterButton, .SearchButton, .DeleteParameterButton{
    font: inherit;
    background-color: #f2f2f2;
}

.AddParameterButton:hover, .SearchButton:hover, .DeleteParameterButton:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
} */
button {
    font: inherit;
    background-color: #f2f2f2;
	border: 2px outset #ddd;
}

button:hover:not([disabled]) {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

button:active:not([disabled]) {
	border: 2px inset #ddd;
}

.PaginationLinks{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #0000EE;
}

.UDLinks{
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #0000EE;
}

.PaginationLinks:hover, .UDLinks:hover{
    color: #551A8B;
    cursor: pointer;
    text-decoration: underline;
}

.Box{
	color: #000;
    width: 360px;
    /*position: relative;*/
    padding: 2rem;
    text-align: center;
    opacity: 0.70;
    background: #F2F2F2;
    word-wrap: break-word;
    margin: 30vh auto auto auto;
}

.DBView {
	display: flex;
	flex-wrap: wrap;
	.Column1 {
		flex: 1 1 auto;
		width: min-content;
		max-width: fit-content;
	}
	.Column2 {
		flex: 1 1 min-content;
		padding-left: 5px;
		margin-left: 5px;
		border-left: 5px solid #a58;
		/* min-width: 300px; */
		max-width: max-content
	}
}

.EditGrid {
	display: grid;
	gap: 20px 15px;
	margin: 10px 0;
	grid-template-columns: max-content auto;
	text-align: end;
}

.Form {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 3px;
	fieldset {
		grid-column: 1 / span 2;
	}
}

main {
	flex: 0 0 auto;
}

.Separator {
	flex: 1 1 auto;
}

footer {
    /*TEXT*/
	color: #fff;
	padding: 7px 7px;
    text-decoration: none;
    font-size: 14px;

    /*POSITION AND BG*/
	flex: 0 0 auto;
    text-align: center;
    /*background: #eee;*/
    opacity: 0.70;
    /*font-family: Sans-serif;*/
    background-color: #BF0167;
}

details > summary {
  padding: 4px;
  width: 200px;
  background-color: #BF0167;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > div {
  position: relative;
  bottom: -5px;
  background-color: #ddd;
  border: outset;
  border-color: #BF0167;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}