.Box{
    height: 15%;
    min-width: 15em;
    max-width: 15em;
    padding: 10px;
    position: relative;
    text-align: center;
    opacity: 0.75;
    background: #F2F2F2;
    border-radius: 1px;
    border: 1px solid #797979;
    word-wrap: break-word;
    margin: 38vh auto auto auto;
}

body {
    background-color: #621b40;
}

