*{
    font-family: sans-serif;
}

.Box{
    max-width: 425px;
    position: relative;
    padding-bottom: 2rem;
    text-align: center;
    opacity: 0.70;
    background: #F2F2F2;
    word-wrap: break-word;
    margin: 30vh auto auto auto;
}

body {
    background-color: #621b40;
}

.width100{
    width: 100%;
}

.LoginHeader{
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: darkgrey;
}



