.Box{
    height: 100%;
    min-width: 15em;
    max-width: 15em;
    position: relative;
    text-align: center;
    opacity: 0.75;
    background: #F2F2F2;
    border-radius: 1px;
    border: 1px solid #797979;
    overflow-y: auto;
    place-content: center;
    vertical-align: middle;
    margin: 38vh auto auto auto;
}