{% extends "_base.html" %}
{% block title %} View Profile {% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <h5>Logged in as {{ request.user.username }}</h5>
                <button class="btn btn-danger w-100">Logout</button>
                <hr>
                <p>Profile Settings:</p>
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="card p-3">
                <table class="table table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ request.user.username }}</td>
                            <td>{{ request.user.first_name }}</td>
                            <td>{{ request.user.last_name }}</td>
                            <td>{{ request.user.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
