.TableBox {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
}

table{
    border: 3px solid #333;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    float: left;
    border-spacing: 0px;
    display: block;
    height: 500px;
    overflow-y: scroll;
}

th, td{
    text-align: center;
    border: 0.5px solid #333;
    background-color: #ddd;
    color: black;
    width: 20%;
}

td {
    font-family: serif;
}


body {
    font-family: sans-serif;
    background-color: #621b40;
    margin: 0;
    padding: 0;
}

.SideBox{
    height: 50em;
    min-width: 20em;
    max-width: 20em;
    background-color: #ddd;
    opacity: 0.75;
}

.ADVBox{
    height: 50em;
    min-width: 25em;
    max-width: 25em;
    background-color: #ddd;
    opacity: 0.75;
}

.Row{
  display: flex;
}

.Col{
  float: left;
  padding: 10px;
}

.left{
  width: 15%;
}

.right{
  width: 85%;
}

/*navbar*/

.Navbar{
    position: sticky;
    /*font-family: Sans-serif;*/
    background-color: #BF0167;
    overflow: hidden;
}

.Navlink{
    color: #f2f2f2;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 22px;
    float: left;
}

.Navlink:hover, .Navlink.OverrideButton:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.Navlink.OverrideButton{
    border: none;
    outline: none;
    font: inherit;
    color: #f2f2f2;
    font-size: 22px;
    background-color: transparent;
    float: right;
}

.CRUDBox{
    height: 600px;
    width: 600px;
    border: 3px solid #797979;
    background-image: linear-gradient(#ba0046 0%, #621b40 75%);
    display: block;
    text-align: center;
    flex-flow: column;

}

#AddStudent{
    z-index: 9;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.Grow{
    flex: 1 1 100%;
}

.Bottom{
    flex: 0 0 200px;
}

.AddParameterButton, .SearchButton, .DeleteParameterButton{
    font: inherit;
    background-color: #f2f2f2;
}

.AddParameterButton:hover, .SearchButton:hover, .DeleteParameterButton:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.PaginationLinks{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #0000EE;
}

.UDLinks{
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #0000EE;
}

.PaginationLinks:hover, .UDLinks:hover{
    color: #551A8B;
    cursor: pointer;
    text-decoration: underline;
}

.Box{
    height: 15%;
    min-width: 15em;
    max-width: 15em;
    padding: 10px;
    position: relative;
    text-align: center;
    opacity: 0.75;
    background: #F2F2F2;
    border-radius: 1px;
    border: 1px solid #797979;
    word-wrap: break-word;
    margin: 38vh auto auto auto;
}

